@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap');
@import url('./var.css');
@import url('https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css');
body{
    background-color: var(--background);
    box-sizing: border-box;
    z-index: 1;
    height: 100vh;
    font-family: 'Inter', sans-serif;
    padding: 50px;
    padding-top: 100px;
}
#app{
    height: 100%;
}
*{
    transition: color 0.2s, background-color 0.2s;
    color: var(--text);
    margin: 0px;
}
a{
    font-size: 1rem;
    color: var(--primary);
    text-decoration-thickness: 3px;
}
a:hover{
    text-decoration: none;
}
h1{
    font-size: 5rem;
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1.5rem;
}
p{
    font-weight: normal;
    font-size: 1rem;
}
.light{
    font-weight: lighter;
}
.generic_button{
    color: var(--text);
    text-decoration: none;
    width:fit-content;
    transition: box-shadow 0.1s, outline 0.1s;
    padding: 10px 16px;
    background: none;
    outline: var(--foreground) 2px solid;
    border: none;
    border-radius: 50px;
    display: flex;
    gap: 15px;
    cursor: pointer;
    align-items: center;
}
.generic_button:hover{
    background: var(--background);
    outline: var(--background) 2px solid;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
}
i{
    font-size: 16px;
}
.body_top{
    z-index: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.more_info{
    flex: 1;
    min-height: 0%;
    display: flex;
    justify-content: space-between;
    gap: 25px;
}
.info_wrapper{
    box-sizing: border-box;
    overflow: auto;
    height: fit-content;
    flex: 1;
    max-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 25px;
    background-color: var(--card);
    border-radius: 15px;
}
.card_content{
    display: flex;
    gap: 15px;
    align-items: center;
}
.card_content i{
    font-size: 24px;
}
.mobile{
    display: none;
}
.body_wrapper{
    box-sizing: border-box;
    padding: 50px;
    padding-top: 100px;
    width: 100%;
    height: 100%;
}
.project_cards{
    display: flex;
    gap: 25px;
    justify-content: space-between;
}
.project_content{
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: -50px;
    padding: 0px 50px;
}
.more_btn{
    border-radius: 35px;
    display: flex;
    align-items: center;
    gap: 25px;
    text-decoration: none;
    padding: 15px 55px;
    background-color: var(--secondary);
}
.more_btn p, .more_btn i{
    color: var(--on-color);
}
.more_btn i{
    font-size: 20px;
}
.large{
    width: 3em;
    height: 3em;
}
.loading_wrapper{
    padding: 10px;
    background-color: var(--card);
    border-radius: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 25px;
    justify-content: center;
}
progress {
    width: 1.5em;
    height: 1.5em;
    background: url("data:image/svg+xml,%3csvg viewBox='-5 -5 10 10' xmlns='http://www.w3.org/2000/svg'%3e%3cstyle%3esvg%7banimation:r 1.4s linear infinite%7d%40keyframes r%7bto%7btransform:rotate(270deg)%7d%7dcircle%7banimation:d 1.4s ease-in-out infinite%7d%40keyframes d%7b50%25%7btransform:rotate(135deg)%3bstroke-dashoffset:8%7dto%7btransform:rotate(450deg)%7dfrom%2cto%7bstroke-dashoffset:28%7d%7d%3c/style%3e%3ccircle fill='none' stroke-dasharray='30' stroke-dashoffset='8' stroke='%234285f4' r='4'/%3e%3c/svg%3e"); 
  }
  
  /* Remove default browser styles */
  progress { border: 0 }
  progress::-moz-progress-bar { background: none }
  progress::-webkit-progress-bar { display: none }
  progress::-ms-fill { animation-name: none }
@media only screen and (max-width: 600px) {
    h1{
        font-size: 1.75rem;
    }
    h2{
        font-size: 1.5rem;
    }
    .body_wrapper{
        padding: 25px;
        padding-top: 100px;
    }
    .light{
        font-size: 1.5rem;
    }
    .more_info{
        flex-direction: column;
    }
    #darkmode_text{
        display: none;
    }
    .right{
        display: none !important;
    }
    .left{
        justify-content: space-between;
        width: 100%;
    }
    .mobile{
        display: flex;
    }
    .desktop{
        display: none;
    }
    .project_content{
        padding: 20px;
    }
    .page_wrapper{
        border-radius: 16px;
    }
    .description_wrapper img{
        width: 100% !important;
        height: auto !important;
    }
    .project_cards{
        justify-content: flex-start;
        overflow: auto;
        scroll-snap-type: x mandatory;
    }
    .project_card{
        box-shadow: none !important;
        scroll-snap-align: start !important;
        width: auto !important;
    }
}